<mat-toolbar color="primary">

  <mat-toolbar-row>
    <span>WFG - RestAPI for test</span>
    <span class="toolbar-spacer"></span>
    <mat-icon class="toolbar-icon" aria-hidden="false" (click)="goToGithub()" aria-label="API Docs">integration_instructions</mat-icon>
    <img src="https://avatars3.githubusercontent.com/u/1252111" class="img-rounded" alt="Miguel Campos Rivera" /> 
    <small>&nbsp; Miguel Campos Rivera</small>
  </mat-toolbar-row>

</mat-toolbar>


<div fxLayout="column wrap" fxLayoutGap="20px" class="container">
  <h1>Market data</h1>
  <app-marketdata></app-marketdata>
</div>